<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>RemotePromptBaseURL</key>
    <string>https://remoteprompt.soconnect.co.jp:8443</string>
    <key>RemotePromptAPIKey</key>
    <string>jg3uIg7w753xDmbH1XV1KQhAs3MqL_ms5iZGjYoKoMA</string>
</dict>
</plist>
